<aside class="bg-primary shadow">
 <nav class="navbar">
  <div class="container-fluid ">
    <ul class="navbar-nav">
      <li class="nav-item mt-2 mb-2">
        <a class="nav-link" href="/developer/quickstart">
            <div class="icon text-center text-white">
              <i class="bi bi-alexa text-white"></i>
                <p> Quickstart </p>
            </div>
        </a>
      </li>
      <li class="nav-item mt-2 mb-2">
        <a class="nav-link" href="/developer/partners">
            <div class="icon text-center text-white">
                <i class="bi bi-people text-white"></i>
                <p> Aliance Partner </p>
            </div>
        </a>
      </li>
      <li class="nav-item mt-2 mb-2">
        <a class="nav-link" href="/developer/switching">
            <div class="icon text-center text-white">
                <i class="bi bi-toggles2 text-white"></i>
                <p> Switching </p>
            </div>
        </a>
      </li>
      <li class="nav-item mt-2 mb-2">
        <a class="nav-link" href="/developer/transaction">
            <div class="icon text-center text-white">
                <i class="bi bi-receipt text-white"></i>
                <p> Manual Transaction Posting</p>
            </div>
        </a>
      </li>
      <li class="nav-item mt-2 mb-2">
        <a class="nav-link" href="/developer/selfservice">
            <div class="icon text-center text-white">
              <i class="bi bi-gear-wide-connected text-white"></i>
                <p> Marchant Self Service</p>
            </div>
        </a>
      </li>
    </ul>
  </div>
</nav>
</aside>
<div style="min-width: 100px;"></div>