.hljs {
    color: white !important;
    border-radius: 10px;
    background-color: rgb(2, 6, 14);
}

.code-container {
    position: relative;

}
.code-container code {
    padding: 30px;
    font-size: 14px;

}

button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
    background: transparent;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background: #007bff;
}