<div class="fixed-top">
    <header class="bg-light shadow d-flex">
        <div class="logo_title"></div>
        <div class="ms-auto d-flex">
            <button class="btn btn-light px-5">Home</button>
            <button class="btn btn-light px-5">Products</button>
            <button class="btn btn-light px-5">Solutions</button>
            <button class="btn btn-light px-5">Resources</button>
            <button class="btn btn-light px-5 active">Developer</button>
            <button class="btn btn-light px-5">About Us</button>
        </div>
    </header>
</div>