.accordion-item {
    border: none;
}

.accordion-button {
    color: lightgray;
}

.accordion-button::after {
    background-image: none;
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
    color: #333;
    border-bottom: 1px solid lightgray;
}

.accordion-button:focus {
    box-shadow: none;
}