<style>
    .pre {
        padding: 16px;
        font-weight: bold;
        font-size: 16px;
        border: 1px solid grey;
        border-radius: 10px;
    }
</style>

<div class="d-flex">

    <app-main >
        <h1>Alliance Partners</h1>
        <br />
        
        <app-accordian></app-accordian>
        <!-- <div>
            <h1>Alliance Partners</h1>
            <br />

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Application Submit Request</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Merchant Inquiry</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Onboarding Login Request</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Service Request creation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Service Request Inquiry</a>
                </li>
            </ul>

            <app-tabs [nav_tabs]="nav_tabs"></app-tabs>
            <br/>
            <div>
                <h4>Application Submit Request</h4>

                <table class="table border ">
                    <tbody>
                        <tr>
                            <th>API URL</th>
                            <td>api/allp/application/submit </td>
                        </tr>
                        <tr>
                            <th>HTTP Method</th>
                            <td>POST</td>
                        </tr>
                        <tr>
                            <th>REQ/RES TYPE</th>
                            <td>Application/JSON</td>
                        </tr>
                    </tbody>
                </table>

                <table class="table border">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Field name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Data type</th>
                            <th scope="col">Mandatory</th>
                            <th scope="col">Length</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Message ID</td>
                            <td>Message ID for application submit request</td>
                            <td>String</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Object</td>
                            <td>Object content</td>
                            <td>–</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Application status</td>
                            <td>Specifies the application status “SUBMITTED”</td>
                            <td>Enum</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>ID</td>
                            <td>Specifies the request ID</td>
                            <td>String</td>
                            <td>Y</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Request type</td>
                            <td>CREATE (Fixed value)</td>
                            <td>String</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div> -->
    </app-main>
    <!-- <div style="min-width: 250px;"></div> -->
    <!-- <app-rightnavsection [nav_list]="nav_list"></app-rightnavsection> -->
</div>