<style>
    main{
        position:relative;
        width: calc(100% - 300px);
        padding: 24px 32px;
    }

    pre{
        padding:16px;
        font-weight: bold;
        font-size:16px;
        border: 1px solid grey;
        border-radius: 10px;
    }
</style>

<div class="container-fluid d-flex">
<main class="container">
    <h1>Aliance Partner</h1>
    <br/>
    <h4>Application Submit Request</h4>
    <pre>
        API URL

        api/allp/application/submit

        HTTP Method

        POST

        REQ/RES TYPE

        Application/JSON
    </pre>
    <br/>

    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th scope="col">Field name</th>
                <th scope="col">Description</th>
                <th scope="col">Data type</th>
                <th scope="col">Mandatory</th>
                <th scope="col">Length</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <p>Message ID</p>
                </td>
                <td>
                    <p>Message ID for application submit request</p>
                </td>
                <td>
                    <p>String</p>
                </td>
                <td>
                    <p>&nbsp;</p>
                </td>
                <td>
                    <p>&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Object</p>
                </td>
                <td>
                    <p>Object content</p>
                </td>
                <td>
                    <p>–</p>
                </td>
                <td>
                    <p>&nbsp;</p>
                </td>
                <td>
                    <p>&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Application status</p>
                </td>
                <td>
                    <p>Specifies the application status “SUBMITTED”</p>
                </td>
                <td>
                    <p>Enum</p>
                </td>
                <td>
                    <p>&nbsp;</p>
                </td>
                <td>
                    <p>&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>ID</p>
                </td>
                <td>
                    <p>Specifies the request ID</p>
                </td>
                <td>
                    <p>String</p>
                </td>
                <td>
                    <p>Y</p>
                </td>
                <td>
                    <p>&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Request type</p>
                </td>
                <td>
                    <p>CREATE (Fixed value)</p>
                </td>
                <td>
                    <p>String</p>
                </td>
                <td>
                    <p>&nbsp;</p>
                </td>
                <td>
                    <p>&nbsp;</p>
                </td>
            </tr>
        </tbody>
    </table>
    <br/><br/>

    <h4>Merchant Inquiry</h4>
    <p>This API can be used by the Alliance Partner/Aggregator to inquire a merchant under it using the unique Merchant ID assigned to it. Response will give all the details of that merchant.</p>

</main>
<div >
    <app-rightnavsection [nav_list] = 'nav_list'></app-rightnavsection>
</div>
</div>